@import 'reset';
@import 'icons';

$page-background: #fff;
$page-accent: #e7be0e;

$rushmore: #0f2d5d;
$rushmore: #123670;

$royal: #ae743e;
$lifeaquatic: #3fb1d1;
$darjeeling: #009084;
$mrfox: #d6621d;
$moonrise: #e7be0e;
$budapest: #553562;

$category-list: rushmore, royal, lifeaquatic, darjeeling, mrfox, moonrise, budapest;
$category-vars-list: $rushmore, $royal, $lifeaquatic, $darjeeling, $mrfox, $moonrise, $budapest;

$accent-font: 'Grand Hotel', sans-serif;
$controls-color: #fff;
$button-height: 45px;
$button-highlight: $controls-color;

$intro-height: 40vh;

@mixin tile-design($color) {

  background: $color;

  .name {
    background: rgba($color,.9);
  }
  .count em {
    color: $color;
  }
  &:hover, &:active {
    .name {
      background: none;
    }
  }
}
@mixin movie-design($color) {

  background: rgba($color,.9);
  .content {
    border-color: $color;
    box-shadow: 0 0 50px darken($color,10);
  }
  em {
    background: $color;
  }
  iframe {
    border-top: 4px solid $color;
  }
}
@mixin filter-design($color) {
  &:before {
    background: $color;
  }
  &:hover {
    background: rgba($color,.2);
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: darken($page-background,5);
  position: relative;
}
body, button, label {
  font-family: 'Futura', 'Helvetica Neue', arial, sans-serif;
}
a {
  text-decoration: none;
}
.intro {
  background: #000;
  position: relative;
  overflow: hidden;
  height: $intro-height;
  .title {
    position: relative;
    z-index: 2;
    padding: 15vh 4vw 0;
    text-align: center;
  }
  img {
    height: $intro-height;
    position: absolute;
    z-index: 1;
    top:0;
    right:0;
  }
  h1 {
    font-size: 5.5vh;
    color: #fff;
    em {
      font-size: .6em;
      margin-bottom: 10px;
      font-family: $accent-font;
      display: block;
    }
    strong {
      text-transform: uppercase;
    }
  }
  .bg {
    position: absolute;
    background-position: center center;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-size: cover;
    opacity: .5;
    z-index: 1;
  }
}
.controls {
  .control {
    background: rgba($controls-color,.9);
    color: #333;
    width: 100%;
    border-bottom: 1px solid #ccc;
    &:after {
      content: '';
      display: table;
      clear: both;
      width: 100%;
    }
  }
  .sticky {
    position: fixed;
    top: 0;
    left: 0; right:0;
    z-index: 15;
  }
  .title {
    float: left;
    width: 80px;
    line-height: $button-height;
    text-transform: uppercase;
    padding: 0 15px;
  }
  .filters {
    float: left;
    width: calc(100% - 80px);
  }
  .filter-name {
    padding: 5px;
    clear: both;
    color: #333;
    display: none;
    cursor: pointer;
    border-top: 1px solid #ccc;
    i {
      float: left;
      margin-right: 5px;
      width: 20px;
      text-align: center;
    }
    &:hover {
      background: #ccc;
    }
  }

  @for $i from 1 through length($category-list) {
    .filter-#{nth($category-list, $i)} {
      @include filter-design(nth($category-vars-list, $i));
    }
  }
  .movie-filters .filter {
    &:before {
      content: ' ';
      border-radius: 50%;
      width: $button-height/3;
      height: $button-height/3;
      display: block;
      float: left;
      margin-top: $button-height/2 - ($button-height/3)/2;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  button {
    line-height: $button-height;
    
    margin: 0;
    border: 0;
    cursor: pointer;
    font-size: .9em;
    //background: rgba($controls-color,.9);

    &.active, &:hover {
      //background: $button-highlight;
    }

    &:focus {
      outline: 0 none;
    }
    
  }
}
.dropdown {
  position: relative;
  width: 33.3%;
  float: left;
  height: $button-height;

  label {
    padding: 0 15px;
    font-size: 1.3em;
    line-height: $button-height;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    border-left: 1px solid #ccc;
    .toggle {
      float: right;
      line-height: $button-height;
    }
    &.open, &:hover {
      background: $controls-color;
    }
  }
  .options {
    position: absolute;
    top: $button-height;
    z-index: 16;
    width: 100%;
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;
    background: rgba($controls-color,.95);
  }
  button {
    display: block;
    text-align: left;
    width: 100%;
    background: transparent;
  }
  &.active {
    label {
      background: $controls-color;
    }
    .options {
      display: block;
    }
  }
}

.container {
  padding: 1vw 1vw 0;
  text-align: justify;
  -webkit-backface-visibility: hidden;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  .mix {
    display: none;
    cursor: pointer;

    text-align: center;
    background: #333;
    color: #fff;
    position: relative;

    @for $i from 1 through length($category-list) {
      &.category-#{nth($category-list, $i)} {
        @include tile-design(nth($category-vars-list, $i));
      }
    }
    span, .photo {
      position: absolute;
      display: block;
      text-align: center;
    }
    .name {
      bottom: 0px;
      width: 100%;
      font-size: .8em;
      padding: 1em 3px;
      text-transform: uppercase;
      font-weight: bold;
      transition: all .5s;
      z-index: 2;
    }
    .category, .type {
      position: absolute;
      width: 100%;
      text-transform: uppercase;
      opacity: 0;
      z-index: 3;
      padding: 0 1em;
      font-size:.9em;
    }
    .type:after, .category:before {
        width: 24px;

        left: 50%;
        margin-left: -12px;

        font-family: $accent-font;
        position: absolute;
        text-transform: none;
        font-size: 13px;
        font-weight: normal;
    }
    .type {
      bottom: 115px;
      &:after {
        content: 'as';
        bottom: -18px;
      }
    }
    .category {
      bottom: 18px;
      &:before {
        content: 'in';
        top: -23px;
        
      }
    }
    .photo {
      top: 0; bottom: 0;
      left: 0; right: 0;
      overflow: hidden;
      z-index: 2;
      transition: all .5s;
      background-size: cover;
    }
    .count {
      border-color: rgba(#fff,.7) rgba(#fff,.7) transparent;
      border-width: 45px 15px 15px;
      border-style: solid;
      height: 0;
      width: 0;
      
      display: block;
      opacity: 0;
      
      position: absolute;
      top: 0;
      right: 10px;
      z-index: 5;
      
      transition: all .8s;
      em {
        font-size: 14px;
        color: white;
        width: 30px;
        text-align: center;
        display: block;
        position: absolute;
        top: -35px;
        left: -15px;
        &:before {
          content: '\f007';
          font: normal normal normal 10px/1 FontAwesome;
          margin-bottom: 3px;
          display: block;
        }
      }
    }
    &:hover {
      .type, .category {
        opacity: 1;
        transition: all 1.5s;
      }
      .name {
        bottom: 45px;
        font-size: 1.3em;
      }
      .photo {
        opacity: .2;
      }
      .count {
        opacity: 1;
      }
    }
  }
}
.movies {
  .movie {
    display: none;
    cursor: pointer;
    
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 20;
    
    @for $i from 1 through length($category-list) {
      &.movie-#{nth($category-list, $i)} {
        @include movie-design(nth($category-vars-list, $i));
      }
    }
    a {
      color: #333;
      display: none;
    }
    .content {
      background: #fff;
      max-width: 680px;
      height: 580px;
      border-width: 10px;
      border-style: solid;
      position: fixed;
      top: 0; bottom: 0;
      left: 0; right: 0;
      margin: auto;
      text-align: center;
    }
    h3 {
      font-size: 2.5em;
      padding: 40px 20px 20px;
    }
    p {
      line-height: 1.5em;
      padding: 0 40px 40px;
    }
    em {
      color: #fff;
      font-size: 12px;
      position: absolute;
      bottom: 360px - 15px - 2px;
      left: 50%;
      line-height: 30px;
      margin-left: -40px;
      width: 80px;
      z-index: 2;
    }
    iframe {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;   
    }
  }
}
.site-design {
  background: #e5e5e5;
  color: #666;
  padding: 40px;
  a {
    display: block;
    color: #666;
    &:hover {
      color: #000;
    }
  }
  .why-wes {
    width: 40vw;
  }
  p {
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }
  .button {
    display: block;
    padding: 1em;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 1em 0;
    text-transform: uppercase;
    &:hover {
      background: #000;
      color: #fff;
    }
  }
  .made-in-az {
    float: right;
    width: 230px;
    padding-right: 100px;
    position: relative;
    span {
      margin-top: 20px;
      line-height: 1.5em;
      display: block;
    }
    &:hover {
      .icon-arizona {
        color: #e13c3b;
      }
      .icon-heart-empty {
        color: #fff;
      }
    }
  }
  .icon-heart-empty {
    color: #ccc;
    position: absolute;
    font-size: 30px;
    top: 26px;
    right: 21px;
  }
  .icon-arizona {
    color: #999;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 80px;
  }
}
/* Responsive Page Layout */
.container {
  .mix, .gap {
    float: left;
    width: 96vw;
    height: 96vw;
    margin: 1vw;
  }
}
@media all and (min-width: 420px) {
  .container {
    .mix, .gap {
      width: 47vw;
      height: 47vw;
    }
  }
}

@media all and (min-width: 800px) {
  .container {
    .mix, .gap {
      width: 30.6vw;
      height: 30.6vw;
    }
  }
}
