@import 'variables';

@import 'reset';
@import 'filters';
@import 'movie';
@import 'icons';

@mixin tile-design($color) {

  background: $color;

  .name {
    background: rgba($color,.9);
  }
  .count em {
    color: $color;
  }
  &:hover, &:active {
    .name {
      background: none;
    }
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: darken($page-background,5);
  position: relative;
}
body, button, label {
  font-family: 'Futura', 'Helvetica Neue', arial, sans-serif;
}
a {
  text-decoration: none;
}
.intro {
  background: #000;
  position: relative;
  overflow: hidden;
  height: $intro-height;
  .title {
    position: relative;
    z-index: 2;
    padding: 15vh 4vw 0;
    text-align: center;
  }
  img {
    height: $intro-height;
    position: absolute;
    z-index: 1;
    top:0;
    right:0;
  }
  h1 {
    font-size: 5.5vh;
    color: #fff;
    em {
      font-size: .6em;
      margin-bottom: 10px;
      font-family: $accent-font;
      display: block;
    }
    strong {
      text-transform: uppercase;
    }
  }
  .bg {
    position: absolute;
    background-position: center center;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-size: cover;
    opacity: .5;
    z-index: 1;
  }
}

.container {
  padding: 1vw 1vw 0;
  text-align: justify;
  -webkit-backface-visibility: hidden;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  .mix {
    display: none;
    cursor: pointer;

    text-align: center;
    background: #333;
    color: #fff;
    position: relative;

    @for $i from 1 through length($category-list) {
      &.category-#{nth($category-list, $i)} {
        @include tile-design(nth($category-vars-list, $i));
      }
    }
    span, .photo {
      position: absolute;
      display: block;
      text-align: center;
    }
    .name {
      bottom: 0px;
      width: 100%;
      font-size: .8em;
      padding: 1em 3px;
      text-transform: uppercase;
      font-weight: bold;
      transition: all .5s;
      z-index: 2;
    }
    .category, .type {
      position: absolute;
      width: 100%;
      text-transform: uppercase;
      opacity: 0;
      z-index: 3;
      padding: 0 1em;
      font-size:.9em;
    }
    .type:after, .category:before {
        width: 24px;

        left: 50%;
        margin-left: -12px;

        font-family: $accent-font;
        position: absolute;
        text-transform: none;
        font-size: 13px;
        font-weight: normal;
    }
    .type {
      bottom: 115px;
      &:after {
        content: 'as';
        bottom: -18px;
      }
    }
    .category {
      bottom: 18px;
      &:before {
        content: 'in';
        top: -23px;
        
      }
    }
    .photo {
      top: 0; bottom: 0;
      left: 0; right: 0;
      overflow: hidden;
      z-index: 2;
      transition: all .5s;
      background-size: cover;
    }
    .count {
      border-color: rgba(#fff,.7) rgba(#fff,.7) transparent;
      border-width: 45px 15px 15px;
      border-style: solid;
      height: 0;
      width: 0;
      
      display: block;
      opacity: 0;
      
      position: absolute;
      top: 0;
      right: 10px;
      z-index: 5;
      
      transition: all .8s;
      em {
        font-size: 14px;
        color: white;
        width: 30px;
        text-align: center;
        display: block;
        position: absolute;
        top: -35px;
        left: -15px;
        &:before {
          content: '\f007';
          font: normal normal normal 10px/1 FontAwesome;
          margin-bottom: 3px;
          display: block;
        }
      }
    }
    &:hover {
      .type, .category {
        opacity: 1;
        transition: all 1.5s;
      }
      .name {
        bottom: 45px;
        font-size: 1.3em;
      }
      .photo {
        opacity: .2;
      }
      .count {
        opacity: 1;
      }
    }
  }
}
.site-design {
  background: #e5e5e5;
  color: #666;
  padding: 40px;
  a {
    display: block;
    color: #666;
    &:hover {
      color: #000;
    }
  }
  .why-wes {
    width: 40vw;
  }
  p {
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }
  .button {
    display: block;
    padding: 1em;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 1em 0;
    text-transform: uppercase;
    &:hover {
      background: #000;
      color: #fff;
    }
  }
  .made-in-az {
    float: right;
    width: 230px;
    padding-right: 100px;
    position: relative;
    span {
      margin-top: 20px;
      line-height: 1.5em;
      display: block;
    }
    &:hover {
      .icon-arizona {
        color: #e13c3b;
      }
      .icon-heart-empty {
        color: #fff;
      }
    }
  }
  .icon-heart-empty {
    color: #ccc;
    position: absolute;
    font-size: 30px;
    top: 26px;
    right: 21px;
  }
  .icon-arizona {
    color: #999;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 80px;
  }
}
/* Responsive Page Layout */
.container {
  .mix, .gap {
    float: left;
    width: 96vw;
    height: 96vw;
    margin: 1vw;
  }
}
@media all and (min-width: 420px) {
  .container {
    .mix, .gap {
      width: 47vw;
      height: 47vw;
    }
  }
}

@media all and (min-width: 800px) {
  .container {
    .mix, .gap {
      width: 30.6vw;
      height: 30.6vw;
    }
  }
}
