@import 'variables';

@import 'reset';
@import 'filters';
@import 'character-list';
@import 'movie-modal';
@import 'movie-page';
@import 'icons';
@import 'buttons';


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: darken($page-background,5);
  position: relative;
}
body, button, label {
  font-family: 'Futura', 'Helvetica Neue', arial, sans-serif;
}
a {
  text-decoration: none;
}
.intro {
  background: #000;
  position: relative;
  overflow: hidden;
  height: $intro-height;
  .title {
    position: relative;
    z-index: 2;
    padding: 15vh 4vw 0;
    text-align: center;
  }
  img {
    height: $intro-height;
    position: absolute;
    z-index: 1;
    top:0;
    right:0;
  }
  h1 {
    font-size: 5.5vh;
    color: #fff;
    em {
      font-size: .6em;
      margin-bottom: 10px;
      font-family: $accent-font;
      display: block;
    }
    strong {
      text-transform: uppercase;
    }
  }
  .bg {
    position: absolute;
    background-position: center center;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-size: cover;
    opacity: .5;
    z-index: 1;
  }
  &.intro--small {
    height: 70px;
    img {
      height: 70px;
    }
    .title {
      padding: 20px 0 0;
    }
    h1 {
      font-size: 30px;
      em {
        font-size: .6em;
        display: inline-block;
        margin-right: 8px;
      }
    }

  }
}

.site-design {
  background: #e5e5e5;
  color: #666;
  padding: 40px;
  a {
    display: block;
    color: #666;
    &:hover {
      color: #000;
    }
  }
  .why-wes {
    width: 40vw;
  }
  p {
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }
  .button {
    display: block;
    padding: 1em;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 1em 0;
    text-transform: uppercase;
    &:hover {
      background: #000;
      color: #fff;
    }
  }
  .made-in-az {
    float: right;
    width: 230px;
    padding-right: 100px;
    position: relative;
    span {
      margin-top: 20px;
      line-height: 1.5em;
      display: block;
    }
    &:hover {
      .icon-arizona {
        color: #e13c3b;
      }
      .icon-heart-empty {
        color: #fff;
      }
    }
  }
  .icon-heart-empty {
    color: #ccc;
    position: absolute;
    font-size: 30px;
    top: 26px;
    right: 21px;
  }
  .icon-arizona {
    color: #999;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 80px;
  }
}
