$page-background: #fff;
$page-accent: #e7be0e;

$black: #000000;
$white: #ffffff;

$bottle: #e52e32;
$rushmore: #123670;
$royal: #ae743e;
$lifeaquatic: #3fb1d1;
$darjeeling: #009084;
$mrfox: #d6621d;
$moonrise: #e7be0e;
$budapest: #553562;
$isleofdogs: #fed0be;

$category-list: bottle, rushmore, royal, lifeaquatic, darjeeling, mrfox, moonrise, budapest, isleofdogs;
$category-vars-list: $bottle, $rushmore, $royal, $lifeaquatic, $darjeeling, $mrfox, $moonrise, $budapest, $isleofdogs;

$accent-font: 'Grand Hotel', sans-serif;
$controls-color: #fff;
$button-height: 45px;
$button-highlight: $controls-color;

$intro-height: 40vh;