$page-background: #fff;
$page-accent: #e7be0e;

$rushmore: #0f2d5d;
$rushmore: #123670;

$royal: #ae743e;
$lifeaquatic: #3fb1d1;
$darjeeling: #009084;
$mrfox: #d6621d;
$moonrise: #e7be0e;
$budapest: #553562;

$category-list: rushmore, royal, lifeaquatic, darjeeling, mrfox, moonrise, budapest;
$category-vars-list: $rushmore, $royal, $lifeaquatic, $darjeeling, $mrfox, $moonrise, $budapest;

$accent-font: 'Grand Hotel', sans-serif;
$controls-color: #fff;
$button-height: 45px;
$button-highlight: $controls-color;

$intro-height: 40vh;