---
layout: default
slug: home
path: ../
---

<div class="controls">
  <div class="control">
    <div class="title">Filter:</div>
    <div class="filters">
      <div class="dropdown movie-filters">
        <label><i class="icon-down-open toggle"></i>Movie</label>
        {% include filter-list.html list="movie" %}
      </div>

      <div class="dropdown">
        <label><i class="icon-down-open toggle"></i>Actor</label>
        {% include filter-list.html list="actors" %}
      </div>

      <div class="dropdown">
        <label><i class="icon-down-open toggle"></i> <i class="icon-female"></i> <i class="icon-male"></i></label>
        {% include filter-list.html list="gender" %}
      </div>
    </div>
    <div class="sort">
      <div class="filter filter-name" data-filter="all" id="filter-name"></div>
      <!--button class="">All Characters</button-->
      <!--button class="sort" data-sort="myorder:asc"><i class="fa fa-sort-amount-asc"></i></button>
      <button class="sort" data-sort="myorder:desc"><i class="fa fa-sort-amount-desc"></i></button-->
    </div>
  </div>
</div><!-- .controls -->

<div id="ItemList" class="container">
{% include character-list.html %}
</div>
<div class="movies">
{% include movie-modals.html %}    
</div>