<div class="options">
{% if include.list == 'gender' %}

	{% include filter-list-item.html filter="gender-F" label="Ladies" %}
	{% include filter-list-item.html filter="gender-M" label="Gents" %}

{% elsif include.list == 'movie' %}

{% assign sorted_movies = site.data.movies | sort: 'year' %}
{% for movie in sorted_movies %}
	{% capture movie-filter %}category-{{ movie.movie-slug }}{% endcapture %}
	{% include filter-list-item.html filter=movie-filter label=movie.movie-title class=movie.movie-slug %}
{% endfor %}

{% else %}

{% assign sorted_counts = site.data.characters | sort: 'actor-movie-count' | reverse | group_by: 'actor-movie-count' %}
{% for actor in sorted_counts %}
    {% for item in actor.items | limit: 1 %}
    	{% if item.actor-movie-count > 0 %}
		{% capture actor-filter %}type-{{ item.actor-slug }}{% endcapture %}
		{% include filter-list-item.html filter=actor-filter label=item.actor-name %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% endif %}
</div>