{% include site-head-code.html %}
{% include site-header.html %}
<div class="movie-page movie-page-{{ page.movie-slug }}">
  <div class="movie-header">
    <h1>{{ page.movie-title }}</h1>
    <div class="bg-image" style="background-image: url({{ site.baseurl }}/img/movie-gif-{{ page.movie-slug }}.gif);">&nbsp;</div>
    <div class="year">{{ page.year }}</div>
    <img class="size" src="{{ site.baseurl }}/img/spacer-16x9.png" />
  </div>
  <div class="page-intro">
    <p>{{ page.blurb }}</p>
    <p>
      <a target="_blank" class="movie-button icon-wiki" href="{{ page.wiki }}">Wiki</a>
      <a target="_blank" class="movie-button movie-button--{{ page.movie-slug }}" href="#" data-videoid="{{ page.trailer-video }}">Trailer</a>
      <a target="_blank" class="movie-button icon-imdb" href="{{ page.imdb-link }}">IMDB</a>
    </p>
    <div class="content">{{ content }}</div>
  </div>

{% comment %}
  <iframe data-video="" width="100%" height="360" src="" frameborder="0" allowfullscreen></iframe>
{% endcomment %}
  <h2>The Characters</h2>

  {% assign movie-characters = site.data.character | where:"movie-slug", page.movie-slug %}
  <div id="ItemList" class="container character-list grid-4-col">
  {% include character-list.html data=movie-characters layout="movie-page" %}
  </div>

</div>
{% include site-foot-code.html %}